<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>

        </footer>
    </body>
</html>