@import 'main';

html{ @include page-background; }

.page{
    @include page-position;
    width: 60%;
    padding-bottom: 30px;
}

.table-container{
    overflow: auto;
}

table{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    text-align: center;
}
thead tr{
    background-color: rgba(87, 179, 255, 0.5);
}
tbody td{
    padding: 0 20px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(87, 179, 255, 0.1);
  }
  
tbody tr:nth-child(even) {
    background-color: rgba(87, 179, 255, 0.2);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ RESPONSIVE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media (min-width:320px) {
    button {
        width: 200px;
        margin: 25px;
    }
}

@media (max-width: 900px){
    .page{
        width: 80%;
    }
}