@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/index.css" type="text/css" />

<video autoplay muted loop id="myVideo">
  <source src="~/videos/video.mov">
  Your browser does not support HTML5 video.
</video>
<div class="wrap">
    <h1 id="title">
        Wypełnij pola i wyślij
    </h1>
    <div class="page">
        <div class="content">
                <input class="input" type="text" placeholder="Nazwa" />
                <input class="input" type="text" placeholder="Opis" />
                <input class="input" type="text" placeholder="Opis" />
                <input class="input" type="text" placeholder="Opis" />

            <button class="send-button">
                Wyślij
            </button>
        </div>
    </div>
</div>




