@model MyListService.Business_Logic.Models.Car
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/index.css" type="text/css" />

<video autoplay muted loop id="myVideo">
  <source src="~/videos/video.mov">
  Your browser does not support HTML5 video.
</video>
<div class="wrap">
    <h1 id="title">
        Wypełnij pola i wyślij
    </h1>
    <div class="page">
        <div class="content">
            <form action="../Home/Index" method="post">
                @Html.TextBoxFor(model => model.Brand, new {@placeholder = "Marka", required="required", minlength = 1})
                @Html.TextBoxFor(model => model.Model, new {@placeholder = "Model", required="required", minlength = 1})
                @Html.TextBoxFor(model => model.Horsepower, new {@placeholder = "Ilość koni", maxlength = 4, minlength = 1, required="required"})
                @Html.TextBoxFor(model => model.ProductionYear, new {@placeholder = "Rocznik", maxlength = 4, minlength = 4, required="required"})
                <button class="send-button" type="submit">
                    Wyślij
                </button>
            </form>
        </div>
    </div>
</div>




